/out/
*.iml
*.ipynb_checkpoints
/.idea/
/src/first_steps/section_Resources/short_notes.txt
/method in method.txt
/srcLegacy/
/src/pythontojava/readme.txt
/src/basic_inputandout_with_javautil/lecture_images/StackTrace_Pic_226.PNG
/src/EndofFileCode.txt
/src/TipsForChallenges.txt
/javainfo/javasites.txt
/src/code_blocks_methods_statements/IntEqualityPrinterError.JPG
/.virtual_documents/
/src/first_steps/section_Resources/
/src/code_blocks_methods_statements/SecondsAndMinutesChallenge.txt
/src/.ipynb_checkpoints/
/src/control_flow_statements/lecture-32-the_for_statement_challenge.txt
src/databases/terminology.txt
